@media screen and (max-width: 600px){
    /* ==============common============== */
    section{
        margin-top: 80px;
    }
    .section-title{
        font-size: 30px;
    }
    .section-description{
        font-size: 12px;
    }
    
    /* ==============header============== */
    .nav-bar{
        flex-direction: column;
    }
    .nav-bar .nav-logo .nav-logo-image{
        width: 30px;
    }
    .nav-bar .nav-logo .nav-logo-title{
        font-size: 25px;
        font-weight: 800;
        margin-left: 10px;
    }
    .nav-bar .nav-menu ul{
        flex-direction: column;
    }
    .nav-bar .nav-menu ul li{
        margin: 15px;
    }

    /* ==============banner============== */
    .banner{
        padding: 2rem;
    }
    .banner .banner-title{
        font-size: 20px;
    }
    .banner .banner-description{
        font-size: 16px;
        margin: 20px 0px 30px 0;
    }
    .banner .banner-input{
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
        border-radius: 8px;
        padding: 1rem;
    }
    .banner .banner-input input{
        width: 100%;
        height: 40px;
        margin-bottom: 20px;
    }
    .banner .banner-input button{
        width: 100%;
        height: 40px;
    }

/* ==============our popular tours============== */
    .our-popular-tours{
        flex-direction: column;
        gap: 40px;
    }
    .our-popular-tours .our-popular-tours-description{
        width: 100%;
    }
    .our-popular-tours .our-popular-tours-description p{
        margin: 10px 0px;
    }
    .our-popular-tours .our-popular-tours-description button{
        margin-top: 20px;
    }
    .our-popular-tours .our-popular-tours-description .our-popular-tours-types{
        padding-left: 20px;
        margin: 10px 0px;
    }
    .our-popular-tours .our-popular-tours-description .our-popular-tours-types .section-description i{
        font-size: 7px;
        font-weight: bold;
        margin-right: 10px;
    }
    .our-popular-tours .our-popular-tours-image{
        width: 100%;
    }
    .our-popular-tours .our-popular-tours-image img{
        width: 100%;
    }

     /* ==============chose your destination============== */
    .choose-your-destination p{
        margin: 15px 30px;
    }
    .choose-your-destination .choose-your-destination-items{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .choose-your-destination .choose-your-destination-items .detination-common-class .choose-your-destination-item-title{
        font-size: 20px;
        font-weight: 600;
    }
    .choose-your-destination .choose-your-destination-items .detination-common-class img{
        width: 100%;
        height: 100%;
    }

    /* ==============why choose us============== */
    .why-choose-us .why-choose-us-items{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .why-choose-us .why-choose-us-items .why-choose-us-item .why-choose-us-item-title{
        font-size: 20px;
        margin-top: 20px;
    }
    .why-choose-us .why-choose-us-items .why-choose-us-item .why-choose-us-item-description{
        font-size: 13px;
        max-width: 100%;
    }

    /* ==============newsletter css============== */
     .simple-place{
         flex-direction: column;
         gap: 20px;
     }
     .simple-place .simple-place-description{
         width: 90%;
         padding: .5rem;
     }
     .simple-place .simple-place-description p{
        margin: 15px 0px;
     }
     .simple-place .simple-place-description ul{
         margin-left: 20px;
         margin-bottom: 20px;
     }
     .simple-place .simple-place-description ul li{
         margin-bottom: 10px;
     }
     .simple-place .simple-place-video{
         width: 90%;
     }

    /* ==============newsletter============== */
    .newsletter{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .newsletter .newsletter-input{
        border-radius: 10px;
        padding: 1rem;
        width: 100%;
    }
    .newsletter .newsletter-input input{
        width: 100%;
        height: 30px;
        margin-bottom: 10px;
        padding: 0.8rem 1.5rem;
    }
    .newsletter .newsletter-input button{
        margin: 10px 0px;
        width: 100%;
        height: 40px;
        border: none;
    }
    .newsletter .newsletter-image{
        width: 100%;
        height: 100%;
        border-radius: 16px;
        background: none;
    }
    .newsletter .newsletter-image img{
        display: block;
    }
    .newsletter .newsletter-image .newsletter-offer{
        border-radius: 12px;
        width: 70%;
        padding: 1rem;
        right: 5px;
        bottom: 45px;
        transform: rotate(-25deg);
        text-align: center;
    }
    .newsletter .newsletter-image .newsletter-offer .newsletter-offer-p{
        font-size: 14px;
    }
    .newsletter .newsletter-image .newsletter-offer .newsletter-offer-h5{
        font-size: 20px;
        font-weight: 600;
    }

    /* ==============our location bonus section============== */
    .our-location{
        text-align: center;
    }
    .our-location p{
        max-width: 90%;
        margin: 1rem auto;
    }
    .our-location iframe{
        height: 200px;
        margin-top: 10px;
        margin-bottom: 60px;
    }

    /* ==============footer============== */
    .footer{
        padding: 1rem;
    }
    .footer .footer-logo{
        width: 50%;
        align-items: center;
    }
    #footer-logo-image{
        width: 24px;
    }
    #footer-logo-image img{
        width: 100%;
    }
    #footer-logo-title{
        font-size: 18px;
        font-weight: 700;
        margin-left: 10px;
    }
    #footer-p{
        max-width: 90%;
        margin: 15px auto;
    }
    .footer .footer-social-icon{
        width: 50%;
        margin: 15px auto;
    }
    .footer .footer-social-icon i{
        font-size: 15px;
    }
    .footer .section-description-last{
        margin-top: 30px;
    }

}
