/* ==============common css============== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}
section{
    margin-top: 100px;
}
.container{
    width: 81%;
    margin: 0 auto;
}
:root{
    --dark-02: #424247;
    --primary: #FF5400;

}
.section-title{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.btn{
    color: #FFF;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: var(--primary);
    border: none;
}

/* ==============Header css============== */
.nav-bar{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar .nav-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-bar .nav-logo .nav-logo-image img{
    width: 100%;
}
.nav-bar .nav-logo .nav-logo-title{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-left: 16px;
}
.nav-bar .nav-logo .nav-logo-title span{
    color: var(--primary);
}
.nav-bar .nav-menu ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar .nav-menu ul li{
    list-style: none;
    margin-left: 40px;
}
.nav-bar .nav-menu ul li a{
    text-decoration: none;
    color: var(--dark-02);
    font-size: 18px;
    font-weight: 400;
}
.header{
    position: relative;
}
.header .hamberger .hamberger-menu{
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}
.header .hamberger .hamberger-close{
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

/* ==============Banner css============== */
.banner{
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
    padding: 100px 180px;
    text-align: center;
}
.banner .banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}
.banner .banner-description{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0px 50px 0;
}
.banner .banner-input{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
}
.banner .banner-input input{
    width: 24%;
    height: 50px;
}
.banner .banner-input button{
    width: 24%;
    height: 50px;
}

/* ==============our popular tour css============== */
.our-popular-tours{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    align-items: center;
}
.our-popular-tours .our-popular-tours-description{
    width: 49%;
}
.our-popular-tours .our-popular-tours-description p{
    margin: 20px 0px;
}
.our-popular-tours .our-popular-tours-description button{
    margin-top: 20px;
}
.our-popular-tours .our-popular-tours-description .our-popular-tours-types{
    padding-left: 20px;
    margin: 10px 0px;
}
.our-popular-tours .our-popular-tours-description .our-popular-tours-types .section-description i{
    font-size: 7px;
    font-weight: bold;
    margin-right: 10px;
}
.our-popular-tours .our-popular-tours-image{
    width: 49%;
}
.our-popular-tours .our-popular-tours-image img{
    width: 100%;
}

/* ==============chose your destination============== */
.choose-your-destination{
    text-align: center;
}
.choose-your-destination p{
    margin: 25px 50px;
}
.choose-your-destination .choose-your-destination-items{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}
.choose-your-destination .choose-your-destination-items .detination-common-class{
    position: relative;
    width: 100%;
    height: 100%;
}
.choose-your-destination .choose-your-destination-items .detination-common-class .choose-your-destination-item-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
}
.choose-your-destination .choose-your-destination-items .detination-common-class img{
    width: 100%;
    height: 100%;
}
.choose-your-destination .choose-your-destination-items .choose-your-destination-item-1{
    grid-column: 1/span 6;
}
.choose-your-destination .choose-your-destination-items .choose-your-destination-item-2{
    grid-column: 7/ span 6;
}
.choose-your-destination .choose-your-destination-items .choose-your-destination-item-3{
    grid-column: 1/ span 4;
}
.choose-your-destination .choose-your-destination-items .choose-your-destination-item-4{
    grid-column: 5/ span 6;
}
.choose-your-destination .choose-your-destination-items .choose-your-destination-item-5{
    grid-column: 11/ span 2;
}
.choose-your-destination .choose-your-destination-items .choose-your-destination-item-6{
    grid-column: 1/ span 5;
}
.choose-your-destination .choose-your-destination-items .choose-your-destination-item-7{
    grid-column: 6/ span 7;
}

/* ==============Why chooose us css============== */
.why-choose-us h4{
    text-align: center;
}
.why-choose-us > p{
    text-align: center;
    margin: 25px 0px 50px 0px;
}
.why-choose-us .why-choose-us-items{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
}
.why-choose-us .why-choose-us-items .why-choose-us-item{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 1rem;
}
.why-choose-us .why-choose-us-items .why-choose-us-item-1{
    grid-column: 1/span 6;
}
.why-choose-us .why-choose-us-items .why-choose-us-item-2{
    grid-column: 7/span 6;
}
.why-choose-us .why-choose-us-items .why-choose-us-item-3{
    grid-column: 4/span 6;
}
.why-choose-us .why-choose-us-items .why-choose-us-item .why-choose-us-item-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
}
.why-choose-us .why-choose-us-items .why-choose-us-item .why-choose-us-item-description{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 80%;
}

/* ==============newsletter css============== */
.newsletter{
    display: flex;
    justify-content: space-between;
    gap: 1%;
    margin-bottom: 100px;
}
.newsletter .newsletter-input{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 2rem;
    width: 49%;
}
.newsletter .newsletter-input .newsletter-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter .newsletter-input p{
    margin-bottom: 25px;
}
.newsletter .newsletter-input input{
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
    padding: 1rem 2rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.newsletter .newsletter-input button{
    margin: 10px 0px;
    width: 90%;
    height: 50px;
    border: none;
}
.newsletter .newsletter-image{
    width: 49%;
    border-radius: 16px;
    background: url('../Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.newsletter .newsletter-image .newsletter-offer{
    border-radius: 16px;
    background: #FF5400;
    width: 40%;
    padding: 1.5rem;
    position: absolute;
    right: 10px;
    bottom: 50px;
    transform: rotate(-20deg);
}
.newsletter .newsletter-image .newsletter-offer .newsletter-offer-p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}
.newsletter .newsletter-image .newsletter-offer .newsletter-offer-h5{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}



